@use "variables" as var;
@use "bootstrap" as bs;

@font-face {
  font-family: "SFNS";
  src: url("../../public/fonts/SFNS\ Display\ Regular.ttf");
}

//
// Overrides
//

.border-radius-0 {
  border-radius: 0;
}

.text-nospace {
  font-size: 0;
}

.text-shadow {
  text-shadow: var.$text-shadow;
}

.text-justified {
  text-align: justify !important;
}

//
// Base
//
html {
  width: 100%;
  height: 100%;
}

body,
#app {
  height: 100%;
  width: 100%;
}

body {
  font-family: "SFNS", "Oxygen";
  font-feature-settings: "tnum";
}

var {
  font-weight: normal;
  font-style: normal;
}

//
// Custom Classes
//

.scrollbar {
  overflow-x: hidden;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(bs.$gray-600, 0.6);
    background-clip: padding-box;
    border: 3px solid transparent;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track-piece {
    background-color: transparent;
    background-clip: padding-box;
    border: 3px solid transparent;
    border-radius: 10px;
  }
}

// Any kind of styled dialog box
.ffxiv-dialog {
  border-radius: 0.5rem;
  background: #554121;
  box-shadow: inset 0 1px 1px 0 #cfc36e, inset 0 0 1px 0 hsla(53, 50%, 62%, 0.5), 0 0 1px 2px rgba(0, 0, 0, 0.5),
    0 2px 2px 2px rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.8);

  hr {
    box-shadow: 0 -1px 0 rgb(0 0 0 / 40%), inset 0 -1px 0 hsl(0deg 0% 100% / 10%);
    border: none;
    height: 1px;
    min-height: 1px;
    margin-bottom: 1px;
  }

  .inner-dialog {
    background: linear-gradient(180deg, #3a3a3a, #1e1e1e 2.5rem);
    border-radius: 0.25rem;
    box-shadow: inset 0 0 0 1px hsla(0, 0%, 100%, 0.1), 0 0 0 2px #222, 0 3px 1px #cfc36e,
      0 0 2px 1px rgba(0, 0, 0, 0.4);
    color: bs.$light;
    text-shadow: var.$text-shadow;
  }
}

.h-101 {
  height: 100.001vh !important;
}

#combat-log,
.tooltip {
  .job-icon {
    height: 1.25rem;
  }

  .scrollbar {
    * {
      overflow-anchor: none;
    }

    #anchor {
      overflow-anchor: auto;
      height: 1px;
    }
  }
}
