// Bootstrap base functions and variables
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

// ---
// Icarus Specific Creations
// ---

$class-colors: (
  "ACN": #2d9b78,
  // Arcanist
  "ARC": #91ba5e,
  // Archer
  "AST": #ffe74a,
  // Astrologian
  "BLM": #a579d6,
  // Black Mage
  "BLU": #2459ff,
  // Blue Mage
  "BRD": #91ba5e,
  // Bard
  "CNJ": #fff0dc,
  // Conjurer
  "DNC": #e2b0af,
  // Dancer
  "DRG": #4164cd,
  // Dragoon
  "DRK": #d126cc,
  // Dark Knight
  "GLA": #a8d2e6,
  // Gladiator
  "GNB": #796d30,
  // Gunbreaker
  "LNC": #4164cd,
  // Lancer
  "MCH": #6ee1d6,
  // Machinist
  "MNK": #d69c00,
  // Monk
  "MRD": #cf2621,
  // Marauder
  "NIN": #af1964,
  // Ninja
  "PLD": #a8d2e6,
  // Paladin
  "PGL": #d69c00,
  // Pugilist
  "RDM": #e87b7b,
  // Red Mage
  "ROG": #af1964,
  // Rogue
  "RPR": #965a90,
  // Reaper
  "SAM": #e46d04,
  // Samurai
  "SCH": #8657ff,
  // Scholar
  "SGE": #80a0f0,
  // Sage
  "SMN": #2d9b78,
  // Summoner
  "THM": #a579d6,
  // Thamauturge
  "WAR": #cf2621,
  // Warrior
  "WHM": #fff0dc,
  // White Mage
  "PET": #64bdc8,
  // Chocobo/Pet
  // "LIMIT": #2599be, // Limit Break,,,,,,
);

// ---
// Brand new helpers
// ---

$text-shadow: 0 1px rgb(0 0 0 / 40%);

$img-height: 32px;
$img-width: 32px;

// ---
// Theme merges
// ---

$theme-colors: map-merge($theme-colors, $class-colors);

// ---
// Utilities and Mapping
// ---

@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";
