@use "bootstrap" as bs;

@mixin draggable {
    cursor: grab;

    &:active {
        cursor: grabbing;
    }
}

@keyframes bestiary-progress {
    from {
        width: 100%;
    }
    to {
        width: 0%;
    }
}

body {
    background: transparent;
    color: bs.$black;

    &.unlocked {
        background: rgba(bs.$black, 0.3);
        // background: url("../../public/example_ui_2.jpg") 0 0 no-repeat rgba(bs.$black, 0.3);
        border: 2px solid bs.$pink;
    }

    &.component-unlocked {
        .spellbook-wrap {
            @include draggable;

            .spellbook {
                transform: translateY(0);
                opacity: 1;

                hr {
                    display: inherit;
                }
            }
        }

        .bestiary-wrap {
            @include draggable;

            .bestiary {
                opacity: 1;
            }

            .react-resizable-handle {
                display: inherit;
                cursor: se-resize;
            }
        }
    }
}

._error {
    background: rgba(0, 0, 0, 0.5);
    color: bs.$light;
}

.scrollbar {
    overflow-x: hidden;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(bs.$gray-600, 0.6);
        background-clip: padding-box;
        border: 3px solid transparent;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-track-piece {
        background-color: transparent;
        background-clip: padding-box;
        border: 3px solid transparent;
        border-radius: 10px;
    }
}

// Any kind of styled dialog box
.ffxiv-dialog {
    border-radius: 0.5rem;
    background: #554121;
    box-shadow: inset 0 1px 1px 0 #cfc36e, inset 0 0 1px 0 hsla(53, 50%, 62%, 0.5), 0 0 1px 2px rgba(0, 0, 0, 0.5),
        0 2px 2px 2px rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.8);

    .inner-dialog {
        background: linear-gradient(180deg, #3a3a3a, #1e1e1e 2rem);
        border-radius: 0.25rem;
        box-shadow: inset 0 0 0 1px hsla(0, 0%, 100%, 0.1), 0 0 0 2px #222, 0 3px 1px #cfc36e,
            0 0 2px 1px rgba(0, 0, 0, 0.4);
        color: bs.$light;
        text-shadow: -1px -1px 0 bs.$black, 1px -1px 0 bs.$black, -1px 1px 0 bs.$black, 1px 1px 0 bs.$black;
    }
}

// Spellbook reminders
.spellbook-wrap {
    .spellbook {
        background-color: #e7ded5;
        border: 1px solid bs.$black;
        border-radius: 1rem;
        min-width: 88px;
        min-height: 56px;
        transition: opacity linear 0.375s, transform linear 0.375s;
        transform: translateY(10%);
        opacity: 0;

        // Actions
        .action {
            border: 1px solid bs.$black;
            border-radius: bs.$border-radius-lg;
            width: 38px;
            height: 38px;
            margin-left: map-get(bs.$spacers, 2);

            var {
                bottom: 0;
                left: 0;
                color: bs.$light;
                font-size: 0.85rem;
                text-shadow: -1px -1px 0 bs.$black, 1px -1px 0 bs.$black, -1px 1px 0 bs.$black, 1px 1px 0 bs.$black;
                transform: translateY(50%);
                z-index: 2;
            }

            // Remove margins from first item
            &:first-of-type {
                margin-left: map-get(bs.$spacers, 0);
            }

            // Top glow
            &:before {
                position: absolute;
                content: "\00a";
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: bs.$border-radius-lg;
                box-shadow: inset 0 1px darken(#fff, 30%);
                z-index: 3;
            }

            // Bottom glow
            &:after {
                position: absolute;
                content: "\00a";
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 0.25em;
                box-shadow: inset 0 1px darken(#fff, 60%);
                transform: scaleY(-1);
            }
        }

        // Center Line marker
        hr {
            background: bs.$pink;
            display: none;
            top: -27px;
            left: 0;
            margin-left: calc(50% - (2px / 2));
            width: 2px;
            height: 76px;
            opacity: 1;
            z-index: 4;
        }

        // Transition
        &.enter,
        &.enter-done {
            opacity: 1;
            transform: translateY(0);
        }

        // Top glow
        &:before {
            position: absolute;
            content: "\00a";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 1rem;
            box-shadow: inset 0 2px #fff;
            z-index: 3;
        }

        // Bottom glow
        &:after {
            position: absolute;
            content: "\00a";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 1rem;
            box-shadow: inset 0 1px darken(#fff, 60%);
            transform: scaleY(-1);
        }
    }
}

// Bestiary Encounter reminders
.bestiary-wrap {
    .bestiary {
        transition: opacity linear 0.375s;
        opacity: 0;

        .progress {
            height: 7px;

            .progress-bar {
                animation-name: bestiary-progress;
            }
        }

        // Transition
        &.enter,
        &.enter-done {
            opacity: 1;
        }
    }

    .react-resizable-handle {
        position: absolute;
        display: none;
        bottom: 0;
        right: 0;
        width: 12px;
        height: 12px;
    }
}
